<!DOCTYPE html>
<html>
<head>
  <title>Elephant on Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="nav">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li>O mnie</li>
        <li>Ruby on Rails</li>
        <li>Prawo</li>
        <li>Różności</li>
      </ul> 
      </div>
      <div class="header">
      <%= image_tag("image.png", width: 1200) %>
     </div>
     
    <div class="main">
      <div class="main_left">
        <%= yield %>
      </div>
      <br>
      <div class="main_right">
      <ul>
      <li><%= link_to "New Post", new_post_path %></li>
      </ul>
      </div>
    </div>
    
    <div id="footer">
      <p>designed by sloniorek 2016</p>
    </div>

</body>
</html>
